html,body{
  margin: 0;
  background-image: linear-gradient(#f7f8f8,#acbb78);
  
}
 

#main{
  width: 100%; 
  height: 91.5vh;
  padding-top:8vh ;
  /* object-fit: contain; */
} 
.mainbody{
  padding-top:9vh ;
}
#footer{
  width: 100%;
  /* height: 10%; */
  overflow: fill;
  text-align: center; 
  padding-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  /* padding: 10px; */
  }

.left{
 /* width:40%;
 height: 40%; */
 color: white;
 font-size: 40px;
 float:left;
 margin-top: 2%;
 margin-left: 70px;

}

.right{
  /* width:60%;
  height: 40%; */
  /* float: right; */
  margin-top: 2%;
 margin-left: 70px;

}

#signbtn{
  height: 100%;
  width: 10%;

}

#forgot_pass{
  height: 100%;
  color: white;
  margin-left: 20px;
}

.signup_form {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  border-radius: 5px;
  padding: 2px 16px;
  background-color: transparent;
  text-align: center;
  margin-left: 25%;
  }

.signup_form:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.text_signup{
  /* margin: 10px; */
  margin: 10px auto;
  border-radius: 5px;
  padding: 5px;
}

.signUpbtn {
          /* background-color: #4CAF50; Green */
  border: none;
  /* color: white; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.hide{
  display: none;
}

.show{
  height:90vh;
}

.edugrid,.compgrid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%; 
}

.edugrid>div,.compgrid>div{
  padding:2%;
  border-style: none groove solid none;
 }

 .loginnav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  height:7vh;
  width: 100%;   
}   

.loginnav>form>li>a,.loginnav>form>li>input {
  display: block;
  padding: 12px;
  resize: vertical;
  float: right;
  margin-left: 3px;
}

.loginnav>form>li>input{
  margin-top:5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 2vh;
}

.loginnav>li>div{
  color:white;
  font-size: 40px;
  padding-right: 50px;
  float:left;
}