.editedugrid{
    display: grid;
    grid-template-columns: 5% 16.6% 16.6% 16.6% 16.6% auto; 
}

.editcandedu{
    height:93vh;
}

.editedugrid>div{
    padding:2%;
    border-style: none groove solid none;
}

.addbutton{
    margin-right: 2%;
    float: right;
}